*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body
{
	font-family: 'Open Sans', sans-serif;
}
nav
{
	padding: 0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid gray;
	list-style-type: none;
}
nav .nav, nav .nav-logo
{
	margin: 0.5rem;
	display: inline;
}
#intro
{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}
#intro h2, #intro p
{
	margin-bottom: 1rem;
}
#intro button
{
	color: white;
	font-weight: bold;
	background-color: #C2195B;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}
#succeed-info
{
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 2rem;
	padding-bottom: 3rem;
}
#succeed-info h2
{
	margin-bottom: 1rem;
}
#succeed-info h3
{
	text-align: center;
	margin-bottom: 1rem;
}
#succeed-info .card
{
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	background-color: blue;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem;
}
#pre-footer
{
	padding-right: 10%;
	margin-top: 2rem;
	margin-bottom: 0;
	padding-bottom: 3rem;
	background-color: #002540;
	color: white;
}
#pre-footer .ACFC
{
	display: inline-block;
	vertical-align: bottom;
	min-height: 150px;
	width: 23%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding: 1rem;
}
footer
{
	padding: 0.7rem;

}
footer span
{
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}
